* {
  border: none;
  border-radius: 0;
  font-family: monospace;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: #111111;
  color: #dddddd;
}

#workspaces button {
  padding: 0 12px;
  color: #dddddd;
}

#clock,
#network,
#pulseaudio,
#battery,
#tray {
  padding: 0 14px;
}
