width=44%
height=52%
location=center
show=drun
prompt=Run
allow_images=true
term={{ hyprland_terminal }}
lines=12
insensitive=true
hide_scroll=true
no_actions=true
cache_file=/dev/null
key_down=Ctrl-n
key_up=Ctrl-p
