window {
  margin: 0px;
  border: 1px solid #333333;
  background-color: #1a1a1a;
}

#input {
  margin: 6px;
  border: 1px solid #333333;
  color: #eeeeee;
  background-color: #121212;
}

#entry {
  padding: 6px;
  color: #eeeeee;
}

#entry:selected {
  background-color: #2f2f2f;
}
